$torch-red: #FF1F1F;
$color-border: $torch-red;
$border-radius: 5px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  margin-top: 100px;
}

.search_container {
  max-width: 950px;
  width: 100%;
  height: 35px;
  margin: 0 auto;

  input {
    width: 90%;
    margin-right: 5px;
    height: 100%;
    border-radius: $border-radius;
    border: 2px solid $color-border;
    padding: 5px;
  
    &:focus {
        border: 2px solid darken($color-border, 20%);
        outline: none;
    }
  }

  button {
    height: 100%;
    border-radius: $border-radius;
    background-color: transparent;
    border: 2px solid $color-border;
    padding: 5px;

    &:hover {
      background-color: $color-border;
      color: #fff;
    }
  }
}
